<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Humanizer" version="1.37.7" targetFramework="portable-net45+win+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Microsoft.Azure.Mobile.Client" version="3.0.3" targetFramework="portable45-net45+win8" />
  <package id="Microsoft.Azure.Mobile.Client.SQLiteStore" version="3.0.3" targetFramework="portable45-net45+win8" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="portable-net45+win+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="portable-net45+win+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="portable-net45+win+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="portable45-net45+win8" />
  <package id="Refractored.MvvmHelpers" version="1.0.1" targetFramework="portable-net45+win+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="SQLitePCL" version="3.8.7.2" targetFramework="portable-net45+win+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="SQLitePCLRaw.bundle_green" version="1.1.0" targetFramework="portable45-net45+win8" />
  <package id="SQLitePCLRaw.core" version="1.1.0" targetFramework="portable45-net45+win8" />
  <package id="Xam.Plugin.Connectivity" version="2.2.12" targetFramework="portable45-net45+win8" />
  <package id="Xamarin.Forms" version="2.3.2.127" targetFramework="portable45-net45+win8" />
</packages>