@model DataManager.Models.Session
<div>
    @if (Model.Room == null)
    {
        @:TBD
        }
    else
    {
        @Model.Room.Name.ToString()
    }
</div>                                                                                                       }>

