<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Humanizer" version="1.37.7" targetFramework="portable-net45+win+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="portable45-net45+win8" />
  <package id="PCLStorage" version="1.0.2" targetFramework="portable-net45+win+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Refractored.MvvmHelpers" version="1.0.1" targetFramework="portable-net45+win+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Xam.Plugin.EmbeddedResource" version="1.0.1.0" targetFramework="portable-net45+win+MonoTouch10+MonoAndroid10+xamarinmac20+xamarinios10" />
  <package id="Xam.Plugins.Settings" version="2.5.1.0" targetFramework="portable45-net45+win8" />
  <package id="Xamarin.Forms" version="2.3.2.127" targetFramework="portable45-net45+win8" />
</packages>