<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.sample.evolve</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>MinimumOSVersion</key>
	<string>9.0</string>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UILaunchStoryboardName~ipad</key>
	<string>LaunchScreen~ipad</string>
	<key>XSAppIconAssets</key>
	<string>Resources/Images.xcassets/AppIcons.appiconset</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Location is needed to display your current location on maps.</string>
	<key>NSRemindersUsageDescription</key>
	<string>Add reminders for events.</string>
	<key>NSCameraUsageDescription</key>
	<string>Scan Barcodes</string>
	<key>NSCalendarsUsageDescription</key>
	<string>Add events to calendar.</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Tweet</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.sample.evolve.tweet</string>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>quickaction_tweet</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>#XamarinEvolve</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Announcements</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.sample.evolve.announcements</string>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>quickaction_announcements</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Events</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.sample.evolve.events</string>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>quickaction_events</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Mini-Hacks</string>
			<key>UIApplicationShortcutItemType</key>
			<string>com.sample.evolve.minihacks</string>
			<key>UIApplicationShortcutItemIconFile</key>
			<string>quickaction_mini-hacks</string>
		</dict>
	</array>
	<key>CFBundleName</key>
	<string>Evolve16</string>
	<key>UILaunchImages</key>
	<array>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageName</key>
			<string>Default-667h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{375, 667}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>8.0</string>
			<key>UILaunchImageName</key>
			<string>Default-736h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{414, 736}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>Default-568h</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 568}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>6.0</string>
			<key>UILaunchImageName</key>
			<string>Default</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 480}</string>
		</dict>
	</array>
	<key>CFBundleDisplayName</key>
	<string>Evolve16</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>Default.png</string>
		<string>Default@2x.png</string>
		<string>Default-568h@2x.png</string>
	</array>
</dict>
</plist>
